@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100%;
  margin: 0;
}

.bg-img {
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/ffa20346576771.585a0ac1d952f.png);
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4px);
  height: 100%;
}

.content {
  z-index: 2;
}

form {
  margin: auto;
  background-color: transparent;
  margin-top: 10%;
  height: 400px;
  width: 350px;
  border-radius: 30px;
  box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.9);
  padding: 10px;
}
